*{
    margin: 0;
    padding: 0;
}

body{
    background-color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.li-style{
    color: red;
    list-style-type: none;
}